/*Esta atividade precisa de comentários explicando o código*/

/*Título do index*/
#title1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/*Borda simples para o título*/
.borderNormal {
    border: 3px solid black;
    border-radius: 4px;
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
    background-color: rgb(255, 255, 255);
}

/*Configuração body*/
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(224, 224, 224);
}

/*Tabela carrinho de compra*/
#tabelaItensCompra {
    background-color: #dbe6ff;
    margin: 6px;
    margin-top: 0px;
    border-collapse: collapse;
}

/*Carrinho de compra*/
.carCompra {
    border: 5px solid black;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: fit-content;
}

/*Lista dos produtos*/
.listProd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/*Estilo para os produtos e a parte de compra*/
.itemProd, .divCompra {
    border: 3px solid black;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

/*Estilo para o produto*/
.itemProd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

/*Divisão da parte do filtro*/
.filtroDiv {
    border: 3px solid black;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    font-size: large;
    background-color: rgb(255, 255, 255);
}

/*Divisão da parte do carrinho e resumo do pedido*/
.divCompra {
    display: flex;
    min-width: 18vw;
    max-width: 30vw;
}

/*Imagem dos produtos*/
.imgProd {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

/*Divisão principal*/
.principal {
    display: grid; 
    grid-template-columns: 1fr auto; 
    align-items: start; 
}

/*Resumo da compra*/
.resCompra {
    border: 5px solid rgb(231, 231, 231);
    border-radius: 4px;
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding-bottom: 20px;
}

button {
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
    font-size: smaller;
    background-color: rgb(135, 194, 233);
}

button:hover {
    font-weight: bolder;
    font-size: small;
    background-color: rgb(81, 172, 233);
}
